@import "variables.scss";
@import "mixins.scss";

body {
    overflow-x: hidden;
    @include body-font;
    background-color: $theme-primary;
    color: $theme-text;
}

h1 {
    text-align: center;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
    color: inherit;
    text-decoration: underline;
}

.footer {
    padding: 20px 0;
    text-align: center;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.verse-generator {
    padding: 50px;
    margin-top: 20px;
    background-color: $theme-text;
    color: $gray-darker;
    border-radius: 4px;
    #verse {
        font-size: 24px;
    }
    #origin {
        font-size: 18px;
        text-align: right;
        width: 80%;
        margin-top: 20px;
    }
    .buttons {
        margin-top: 20px;
        button {
            @include button-variant($theme-text, $theme-primary, $theme-primary);
        }
    }
    #getVerse {
        float: right;
    }
}

@media(max-width:820px) {
    .verse-generator {
        padding: 30px;
        margin-top: 20px;
        #verse {
            font-size: 16px;
        }
        #origin {
            font-size: 16px;
        }
    }
}
